@import "../base/colors";
@import '../base/font.scss';

/* ************ STICKY FOOTER SECTION ************ */

footer {
    position: fixed !important;
    bottom: -1px;
    z-index: 1000 !important;
    .edgtf-footer-inner > .edgtf-footer-bottom-holder {
        padding: 0 !important;
        .edgtf-three-columns>.edgtf-three-columns-inner {
            margin: 0 !important;
        }
    }
    .edgtf-footer-bottom-holder {
        background-color: $trans !important;
        .edgtf-three-columns .edgtf-column .edgtf-column-inner {
            padding: 0 !important;
        }
  }
  .widget {
        div.footer-block {
            background-color: $blugrey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        div#footerblock1 {
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 13px, calc(100% - 16px) 13px);
            -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 13px, calc(100% - 16px) 13px);
        }
        div#footerblock3 {
            clip-path: polygon(100% 13px, 100% 100%, 0 100%, 0 0, 16px 13px);
            -webkit-clip-path: polygon(100% 13px, 100% 100%, 0 100%, 0 0, 16px 13px);
        }
        div#footerblock1,
        div#footerblock3 {
            height: 55px;
            position: relative;
            top: 30px;
            a.footer-link {
                letter-spacing: 3px;
                position: relative;
                top: 6px;
            }

        }
        div#footerblock2 {
            height: 85px;
            background-color: $purple;
            clip-path: polygon(calc(100% - 40px) 0, 100% 30px, 100% 100%, 0 100%, 0 30px, 40px 0);
            -webkit-clip-path: polygon(calc(100% - 40px) 0, 100% 30px, 100% 100%, 0 100%, 0 30px, 40px 0);
            a.footer-link {
                letter-spacing: 3px;
                font-size: (32px);
                position: relative;
                top: 5px;
            }
        }
        .footer-link {
            color: $white !important;
            @include semi-bold($sofia-sans);
            font-size: (24px);
            text-transform: capitalize;
        }
  }
}


/*** Responsive Min-Width ***/
@media all and (min-width: 479px) {
}
@media all and (min-width: 575px) {
}
@media all and (min-width: 767px) {
}
@media all and (min-width: 959px) {
}
@media all and (min-width: 1023px) {
}

/*** Responsive Tablet ***/
@media all and (min-width: 768px) and (max-width: 980px) {
}

/*** Responsive Max-Width ***/
@media all and (max-width: 1024px) {
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}