@import "../base/colors";
@import '../base/font.scss';
@import "../../../node_modules/rfs/scss";

/* ************ SIDE TABS ************ */
div#section-sidetabs {
    position: relative;
    z-index: 50;
    div#col-nav-sidetabs {
        div.toptab-container {
            transform: rotate(270deg);
            position: fixed;
            left: -181px;
            top: 235px;
        }
        a.toptab-link {
            color: $white;
            @include padding(0.5rem 0.938rem);
            @include semi-bold($sofia-sans);
            text-transform: uppercase;
            @include rfs(0.031rem, letter-spacing);
            @include font-size(1.125rem);
            background-color: $purple;
        }
        a#toptab-link1 {
            @include rfs(0.625rem, border-bottom-left-radius);
        }
        a#toptab-link2 {
            @include rfs(0.625rem, border-bottom-right-radius);
        }
    }
}
/* ************ HERO ************ */
div#hero-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
div#section-hero-outer {
    z-index: 0;
}
div#section-hero-outer {
    z-index: 0;
    margin: 0px !important;
    background-size: 100% !important;
    aspect-ratio: 1920/900;
    div#subhead-svg {
        position: fixed;
        width: 433px;
        top: 169px;
        left: 58%;
        transform: translate(-70%, -50%);
    }
    video.elevar-animation {
        margin: 0;
        padding: 0;
        overflow: visible;
        object-fit: cover;
        position: absolute;
        width: 100vw;
        left: 0px;
        aspect-ratio: 1920/900;
        min-width: 100%;
        position: fixed;
        top:0;
        z-index: -999;
    }
}
div#section-hero-outer-video {
    z-index: 0;
    margin: 0px !important;
    background-size: 100% !important;
    aspect-ratio: 1920/920;
    div#subhead-svg {
        position: fixed;
        width: 433px;
        top: 169px;
        left: 58%;
        transform: translate(-70%, -50%);
    }
    video.elevar-animation {
        margin: 0;
        padding: 0;
        overflow: visible;
        object-fit: cover;
        position: absolute;
        width: 100vw;
        left: 0px;
        aspect-ratio: 1920/920;
        min-width: 100%;
        position: fixed;
        top:0;
        z-index: -999;
    }
}

div#hero-subhead {
    left: 64%;
    position: fixed;
    top: 118px;
    .wpb_wrapper {
        text-align: left !important;
        max-width: 700px;
    }
}
div#hero-subhead div.head-upper {
    color: $black !important;
    @include bold($sofia-sans);
    font-size: 1.4vw;
    line-height: 2.3vh;
    text-transform: uppercase;
    @include rfs(0.125rem, letter-spacing);
    position: relative;
    bottom: -7px;
        span.lower {
            text-transform: initial;
        }
}
.hero-h1 {
    color: $purple !important;
    @include black($sofia-sans);
    text-transform: uppercase;
    @include rfs(0.188rem, letter-spacing);
    margin: 0;
}

/*** Responsive Min-Width ***/
@media all and (min-width: 479px) {
}
@media all and (min-width: 575px) {
}
@media all and (min-width: 767px) {
}
@media all and (min-width: 959px) {
}
@media all and (min-width: 1023px) {
}

/*** Responsive Tablet ***/
@media all and (min-width: 768px) and (max-width: 980px) {
}
@media all and (max-width: 1500px) {
    div#section-hero-outer-video {
        div#subhead-svg {
            position: fixed;
            width: 380px;
            top: 169px;
            left: 58%;
            transform: translate(-50%, -50%);
        }
    }
    div#section-hero-outer {
        div#subhead-svg {
            position: fixed;
            width: 380px;
            top:169px;
            left: 58%;
            transform: translate(-50%, -50%);
        }
    }
}
@media all and (max-width: 1300px) {
    div#section-hero-outer-video {
        div#subhead-svg {
            position: fixed;
            width: 330px;
            top: 169px;
            left: 58%;
            transform: translate(-50%, -50%);
        }
    }
    div#section-hero-outer {
        div#subhead-svg {
            position: fixed;
            width: 275px;
            top: 210px;
            left: 67%;
            transform: translate(-50%, -50%);
        }
    }
}
@media all and (max-width: 1025px) {
    div#section-hero-outer-video {
        div#subhead-svg {
            position: fixed;
            width: 250px;
            top: 125px;
            left: 59%;
            transform: translate(-50%, -50%);
        }
    }
    div#section-hero-outer {
        div#subhead-svg {
            position: fixed;
            width: 250px;
            top: 210px;
            left: 67%;
            transform: translate(-50%, -50%);
        }
    }
}
/*** Responsive Max-Width ***/
@media all and (max-width: 1024px) {
    div#section-hero {
        div.wpb_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    div#section-hero-outer-video,
    div#section-hero-outer {
        div#subhead-svg {
            width: 400px;
            top: 250px;
            left: 50%;
        }
    }
    div#elevar-animation-mov {
        display: none;
    }
    div#section-hero-outer,
    div#section-hero-outer-video {
        background-attachment: fixed;
        z-index: 0;
        background-image: url(/wp-content/themes/conall-child/images/hero-mobile-backg-828x1800.jpg);
        margin: 0px !important;
        background-position-Y: -500px !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        position: relative;
        padding-top: 0% !important;
        padding-bottom: 0% !important;
        aspect-ratio: 23/27;
        .wpb_single_image .vc_figure {
            width: 100%;
        }
        div.vc_single_image-wrapper.vc_box_border_grey {
            width: 100%;
        }
        .wpb_single_image img {
            width: 100%;
        }
    }
    /* ************ SIDE TABS ************ */
    div#section-sidetabs {
        position: relative;
        z-index: 50;
        div#col-nav-sidetabs {
            div.toptab-container {
                transform: rotate(270deg);
                position: fixed;
                left: -120px;
                top: 170px;
            }
            a.toptab-link {
                color: $white;
                @include padding(0.35rem 0.5rem);
                @include semi-bold($sofia-sans);
                text-transform: uppercase;
                @include rfs(0.031rem, letter-spacing);
                @include font-size(0.75rem);
                background-color: $purple;
            }
            a#toptab-link1 {
                @include rfs(0.525rem, border-bottom-left-radius);
            }
            a#toptab-link2 {
                @include rfs(0.525rem, border-bottom-right-radius);
            }
        }
    }
}
@media all and (max-width: 960px) {
    div#section-hero-outer-video {
    div#subhead-svg {
            width: 350px;
            top: 250px;
        }
    }
    div#section-hero-outer-video {
        background-image: url(/wp-content/themes/conall-child/images/hero-mobile-backg-828x1800.jpg);
        background-position-Y: -300px !important;
        aspect-ratio: 23/40;
    }
}
@media all and (max-width: 768px) {
    div#section-hero-outer-video {
    div#subhead-svg {
            width: 325px;
            top: 200px;
        }
    }
    div#section-hero-outer-video {
        background-position-Y: -200px !important;
        aspect-ratio: 23/40;
    }
}
@media all and (max-width: 576px) {
    div#section-hero-outer-video {
    div#subhead-svg {
            width: 300px;
            top: 165px;
        }
    }
        div#section-hero-outer,
    div#section-hero-outer-video {
        background-attachment: fixed;
        z-index: 0;
        background-image: url(/wp-content/themes/conall-child/images/hero-mobile-backg-828x1800.jpg);
        margin: 0px !important;
        background-position-Y: -200px !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        position: relative;
        padding-top: 0% !important;
        padding-bottom: 0% !important;
        aspect-ratio: 23/35;
        .wpb_single_image .vc_figure {
            width: 100%;
        }
        div.vc_single_image-wrapper.vc_box_border_grey {
            width: 100%;
        }
        .wpb_single_image img {
            width: 100%;
        }
    }
}
@media all and (max-width: 480px) {
    div#section-hero-outer-video {
        div#subhead-svg {
            width: 250px;
            top: 150px;
        }
    }
    div#section-hero-outer-video {
        background-position-Y: -66px !important;
        aspect-ratio: 23/39;
        .wpb_single_image .vc_figure {
            width: 100%;
        }
        div.vc_single_image-wrapper.vc_box_border_grey {
            width: 100%;
        }
        .wpb_single_image img {
            width: 100%;
        }
    }
    div#section-euhcc {
    height: 100%;
    width: 100%;
    }
}

@media all and (max-width: 400px) {
    div#section-hero-outer-video {
        div#subhead-svg {
            width: 215px;
            top: 125px;
        }
    }
    div#section-hero-outer-video {
        background-position-Y: -100px !important;
        aspect-ratio: 23/37;
        .wpb_single_image .vc_figure {
            width: 100%;
        }
        div.vc_single_image-wrapper.vc_box_border_grey {
            width: 100%;
        }
        .wpb_single_image img {
            width: 100%;
        }
    }
    div#section-euhcc {
    height: 100%;
    width: 100%;
    }
}