@import "../base/colors";
@import '../base/font.scss';
@import "../../../node_modules/rfs/scss";

/* ************ PROJECT SET-UP ************ */
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
    min-height: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
    padding: 0 !important;
}
body {
    line-height: 0;
    overflow: unset !important;
}
div.edgtf-content {
    margin-top: -28px !important;
}
.edgtf-mobile-header .edgtf-mobile-header-inner {
    height: 0px !important;
    border-bottom: none !important;
}

/* div.edgtf-content {
    z-index: 999;
} */
.edgtf-container-inner {
    width: 100% !important;
    margin: 0 auto;
    padding: 0 !important;
}
header.edgtf-page-header,
header.edgtf-mobile-header {
    vertical-align: top;
}
.edgtf-header-classic .edgtf-page-header {
    background-color: transparent !important;
    border: none;
}
.edgtf-page-header .edgtf-logo-area {
    height: 0 !important;
}
.edgtf-page-header .edgtf-sticky-header {
    height: 100px !important;
}
.edgtf-page-header .edgtf-sticky-header .edgtf-sticky-holder {
    background-color: transparent !important;
    position: relative;
    top: -125px !important;
}
.edgtf-header-classic .edgtf-page-header .edgtf-menu-area {
    height: 0 !important;
}
.edgtf-header-classic .edgtf-page-header .edgtf-menu-area span.item_text {
    display: none !important;
}
.vc_column_container>.vc_column-inner {
    margin: 0 !important;
    padding: 0 !important;
}
#edgtf-back-to-top>span {
    width: 80px !important;
    height: 80px !important;
    line-height: 73px !important;
    @include rfs(4.688rem !important, line-height);
    @include font-size(1.875rem !important);
    background-color: $purple !important;
    border: 1px solid $purple !important;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#edgtf-back-to-top {
    width: 50px !important;
    right: 66px !important;
    bottom: 94px !important;
}
/* ************ SECTION PAGE WIDTH ************ */
div.edh-col.col1 {
    margin: 0 auto !important;
    @include rfs(82.5rem, max-width);
    float: unset;
    padding: 0 !important;
}
div.edh-col.col2 {
    margin: 0 auto !important;
    @include rfs(92.813rem, max-width);
    float: unset;
    padding: 0 !important;
}
div.edh-col.col3 {
    margin: 0 auto !important;
    max-width: 763px;
    float: unset;
    padding: 0 !important;
}
div.edh-col.col-hs {
    margin: 0 auto !important;
    @include rfs(83.125rem, max-width);
    float: unset;
    padding: 0 !important;
    display: flex;
    margin: 0 auto !important;
    justify-content: center;
    align-items: center;
}
div.edh-col.col4 {
    margin: 0 auto !important;
    @include rfs(84rem, max-width);
    float: unset;
    padding: 0 !important;
}
div.edh-col.col4 {
    margin: 0 auto !important;
    @include rfs(84rem, max-width);
    float: unset;
    padding: 0 !important;
}
DIV.edh-col.col2.table-box {
    margin: 0 auto !important;
    @include rfs(92.813rem, max-width);
    float: unset;
    padding: 0 !important;
}
/* ************ FULL PAGE WIDTH ************ */
div.edh-col.col1.top {
    margin: 0 auto !important;
    max-width: 100% !important;
    width: 100% !important;
    float: unset;
    margin: 0 !important;
    padding: 0 !important;
    bottom: -1px;
}
div.edh-col.col1.bottom {
    margin: 0 auto !important;
    max-width: 100% !important;
    width: 100% !important;
    float: unset;
    margin: 0 !important;
    padding: 0 !important;
    top: -1px;
}

/*** Responsive Min-Width ***/
@media all and (min-width: 479px) {
}
@media all and (min-width: 575px) {
}
@media all and (min-width: 767px) {
}
@media all and (min-width: 959px) {
}
@media all and (min-width: 1023px) {
}

/*** Responsive Tablet ***/
@media all and (min-width: 768px) and (max-width: 980px) {
}

/*** Responsive Max-Width ***/
@media all and (max-width: 1350px) {
    div.edh-col.col2,
    div.edh-col.col3,
    div.edh-col.col-hs,
    div.edh-col.col1 {
    padding-left: 5% !important;
    padding-right: 5% !important;
    }
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}