@import "../base/colors";
@import "../base/font";
@import "../../../node_modules/rfs/scss";

.edgtf-page-header .edgtf-sticky-header .edgtf-sticky-holder .edgtf-vertical-align-containers {
    padding: 0 !important;
}
.edgtf-page-header .edgtf-sticky-header .edgtf-grid {
    height: 100%!important;
    width: 100% !important;
}
.edgtf-main-menu .edgtf-drop-down .edgtf-sticky-nav {
    background: linear-gradient(#5a636d, #161030);
    border-bottom-left-radius: 1.063rem;
    border-bottom-right-radius: 1.063rem;
}
/* ************ MAIN 4 ICON STICKY NAV SET-UP ************ */
div.edgtf-sticky-header {
    div.edh-innerbox.hs-box {
        position: relative;
        @include rfs(1.25rem, border-radius);
        border: 2px solid #F5C75D;
        padding: 0;
        ul#menu-main-navigation-4-icon-today-1 {
            min-width: 1260px;
            display: flex;
            li.nav-main-links {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 25%;
                div.oas-nav-container {
                    height: 170px;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    background: linear-gradient(#525D66, #080124);
                    padding-bottom: 30px !important;
                    a.oas-nav {
                        text-align: center;
                        @include medium($sofia-sans);
                        color: $white;
                        text-decoration: underline;
                        text-transform: uppercase;
                        @include font-size(1.125rem);
                        @include rfs(1.375rem, line-height);
                    }
                }
            }
            li.nav-main-links.one div.oas-nav-container {
                @include rfs(1.688rem, border-top-left-radius);
                @include rfs(1.688rem, border-bottom-left-radius);
                background: linear-gradient(#5a636d, #161030);
            }
            li.nav-main-links.three div.oas-nav-container {
                background: linear-gradient(#5a636d, #161030);
            }
            li.nav-main-links.four div.oas-nav-container {
                @include rfs(1.688rem, border-top-right-radius);
                @include rfs(1.688rem, border-bottom-right-radius);
            }
        }
    }
}

/* ************ MAIN 2 ICON STICKY NAV SET-UP ************ */

div.edgtf-sticky-header
    div.edh-innerbox.hs-box {
        position: relative;
        @include rfs(1.25rem, border-radius);
        border: 2px solid #F5C75D;
        padding: 0;
        ul#menu-main-navigation-2-icon-yesterday-1 {
            min-width: 730px;
            display: flex;
            li.nav-main-links {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 50%;
                div.oas-nav-container {
                    height: 170px;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    background: linear-gradient(#525D66, #080124);
                    padding-bottom: 30px !important;
                    a.oas-nav {
                        text-align: center;
                        @include medium($sofia-sans);
                        color: $white;
                        text-decoration: underline;
                        /* text-transform: uppercase; */
                        @include font-size(1.125rem);
                        @include rfs(1.375rem, line-height);
                    }
                }
            }
            li.nav-main-links.one div.oas-nav-container {
                @include rfs(1.063rem, border-top-left-radius);
                @include rfs(1.063rem, border-bottom-left-radius);
                background: linear-gradient(#5a636d, #161030);
            }
            li.nav-main-links.two div.oas-nav-container {
                @include rfs(1.063rem, border-top-right-radius);
                @include rfs(1.063rem, border-bottom-right-radius);
            }
        }
}

/*** Responsive Min-Width ***/
@media all and (min-width: 479px) {
}
@media all and (min-width: 575px) {
}
@media all and (min-width: 767px) {
}
@media all and (min-width: 959px) {
}
@media all and (min-width: 1023px) {
}

/*** Responsive Tablet ***/
@media all and (min-width: 768px) and (max-width: 980px) {
}

/*** Responsive Max-Width ***/
@media all and (max-width: 1260px) {
    div.edgtf-sticky-header div.edh-innerbox.hs-box ul#menu-main-navigation-4-icon-today-1 {
        min-width: 100%;
        display: flex;
    }
/*     div.edgtf-sticky-header .edgtf-vertical-align-containers .edgtf-position-center .edgtf-position-center-inner {
    width: 100%;
    } */
}
@media all and (max-width: 1267px) {
    div.edgtf-sticky-header div.edh-innerbox.hs-box ul#menu-main-navigation-4-icon-today-1 li.nav-main-links div.oas-nav-container {
    height: 70px;
    }
}
@media all and (max-width: 1200px) {
/*     .edgtf-page-header .edgtf-sticky-header .edgtf-vertical-align-containers .edgtf-position-center {
        width: 100% !important;
    } */
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}