@import "../base/colors";
@import '../base/font.scss';
@import "../../../node_modules/rfs/scss";

/* ************ PAGE FOOTER ************ */
div#section-outer-page-footer {
    height: 260px;
    div#section-page-footer {
        @include semi-bold($sofia-sans);
        @include footer-gradient;
        color: $white;
        height: 260px;
        padding: 56px 75px 0 75px!important;
        margin: 0 auto !important;
        div.clearfix.edgtf-full-section-inner {

            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            div#col-pagefooter-left {
                div.wpb_wrapper {
                    display: flex;
                    div#pg-footer-twitter {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 4px !important;
                        img {
                            width: 40px;
                            height: 38px;
                        }
                    }
                    div#pg-footer-linkedin {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 25px !important;
                    }
                }
            }
            div#col-pagefooter-center {
                div#pg-footer-address {
                    p.pg-footer-paragraph {
                        @include font-size(1.25rem);
                        text-align: center;
                        margin: 0 0 18px 0 !important;
                        span.divider {
                            padding: 0 10px 0 10px;
                        }
                    }

                }
                div#pg-footer-menu {
                    text-align: center;
                    div.widget.widget_nav_menu {
                        margin: 0 !important;
                            ul#menu-page-footer-menu {
                                margin: 0 !important;
                            }
                            ul > li {
                                display: inline-block;
                            a {
                                color: $white;
                                text-decoration: underline;
                                @include font-size(0.75rem);
                                @include rfs(1.5rem, line-height);
                            }
                            }
                            ul > li:not(:last-child):after {
                                content: "|";
                                color: $white;
                                padding: 0 8px 0 8px;
                            }
                    }
                }
                div#pg-footer-copyright {
                    text-align: center;
                    p {
                        @include font-size(0.75rem);
                        @include rfs(1.5rem, line-height);
                        margin: 0 !important;
                    }
                }
            }
            div#col-pagefooter-right {
                div#pg-footer-logo {
                    img {
                        aspect-ratio: 104/53;
                        position: relative;
                        top: -26px;
                    }
                }
            }
        }
    }
}


/*** Responsive Min-Width ***/
@media all and (min-width: 479px) {
}
@media all and (min-width: 575px) {
}
@media all and (min-width: 767px) {
}
@media all and (min-width: 959px) {
}
@media all and (min-width: 1023px) {
}

/*** Responsive Tablet ***/
@media all and (min-width: 768px) and (max-width: 980px) {
}

/*** Responsive Max-Width ***/
@media all and (max-width: 1024px) {
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}