
ul.uavc-list {
    div.uavc-list-content.fade-item {
        transition: 2s all ease-in-out;
        opacity: 0;
    }
}

div.wpb-content-wrapper {
	scroll-behavior: smooth;
}
.fadein {
    animation: fadeIn 0.9s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

div#col-nexgen-stats-right {
    div.vc_column-inner {
        background-position: 0px 0px !important;
        animation: animatedBackground 5s linear infinite alternate;
    }
}