$black: #000000;
$blugrey: #525D66;
$blugrey2: #5B6770;
$blugreyscreen: #5a636d;
$bordergrey: #707070;
$bordergreylight: #a0a0a0;
$copy: #333333;
$copy2: #373F41;
$darkpurple: #080124;
$darkpurplescreen: #161030;
$dkblugrey: #292F33;
$gold: #F5C75D;
$gold2: #F4C054;
$ltgrey1: #E8E8E8;
$ltgrey2: #DEDCE6;
$orange1: #F98D2A;
$orange2: #C25131;
$orange3: #F98E2C;
$orange4: #a8462b;
$purple: #493D7C;
$red: #C45131;
$trans: transparent;
$white: #ffffff;
$orangehover: #6E2916;
$orgbox1:#d5846e ;
$orgbox2:#cf735a ;
$orgbox3:#c96245 ;
$orgbox4:#c45131 ;
$purbox1:#857dac ;
$purbox2:#746ba0 ;
$purbox3:#625894 ;
$purbox4:#524689 ;

$nexgen-grad1: #5b6770;
$nexgen-grad2: #32344a;
$nexgen-grad3: #080124;

@mixin os-anim-text-gradient(){
    text-shadow: 0px 3px 6px rgba(0,0,0,1);
}
@mixin footer-gradient{
    background: linear-gradient($blugrey, $dkblugrey);
};
@mixin form-gradient(){
    background: linear-gradient($blugrey, $darkpurple);
};

@mixin nexgen-form-gradient-top(){
    background: linear-gradient($nexgen-grad1, $nexgen-grad2) !important;
};
@mixin nexgen-form-gradient-bottom(){
    background: linear-gradient($nexgen-grad2, $nexgen-grad3) !important;
};
@mixin form-gradient-white-screen(){
    background: linear-gradient($blugreyscreen, $darkpurplescreen);
};
@mixin form-section-gradient(){
    background: linear-gradient($ltgrey1, $ltgrey2);
};
@mixin orange-grad-button(){
    background: linear-gradient($orange1, $orange2);
};
@mixin footer-orange-grad-button(){
    background: linear-gradient($orange2, $orange4);
};
@mixin footer-orange-grad-button2(){
    background: linear-gradient(rgba(0,0,0,0), $orange4);
};
@mixin button-shadow(){
    -webkit-box-shadow: 14px 14px 14px -4px rgba(0,0,0,0.65);
    box-shadow: 14px 14px 14px -4px rgba(0,0,0,0.65);
    -moz-box-shadow: 14px 14px 14px -4px rgba(0,0,0,0.65);
}
@mixin tricube-shadow(){
    -webkit-box-shadow: 15px 15px 10px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 10px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 15px 15px 10px -2px rgba(0, 0, 0, 0.5);
}
@mixin white-box-shadow(){
    -webkit-box-shadow: 16px 16px 23px -5px rgba(0, 0, 0, 0.35);
    box-shadow: 16px 16px 23px -5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 16px 16px 23px -5px rgba(0, 0, 0, 0.35);
}
@mixin inner-box-shadow(){
    -webkit-box-shadow: 8px 8px 8px -4px rgba(0,0,0,0.5);
    box-shadow: 8px 8px 8px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 8px 8px -4px rgba(0,0,0,0.5);
}
@mixin inner-circle-shadow(){
    -webkit-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.60);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.50);
    -moz-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.60);
}

@mixin inner-circle-shadow-dark(){
    -webkit-box-shadow: 10px 10px 10px 6px rgba(0,0,0,35);
    box-shadow: 10px 10px 10px 6px rgba(0,0,0,35);
    -moz-box-shadow: 10px 10px 10px 6px rgba(0,0,0,35);
}

@mixin circle-shadow(){
    -webkit-box-shadow: 8px 8px 16px 9px rgba(0,0,0,0.8);
    box-shadow: 8px 8px 16px 9px rgba(0,0,0,0.8);
    -moz-box-shadow: 8px 8px 16px 9px rgba(0,0,0,0.8);
}
@mixin circle-shadow-light(){
    -webkit-box-shadow: 8px 8px 16px 9px rgba(0,0,0,0.4);
    box-shadow: 8px 8px 16px 9px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 8px 16px 9px rgba(0,0,0,0.4);
}
@mixin flex-col-center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex-row-center() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}