.edgtf-header-divided {

    .edgtf-menu-area {
        opacity: 0;

    	.edgtf-grid {
    		height: 100%;
    	}
    }

    .edgtf-main-menu {
        width: auto;
    }

    .edgtf-page-header .edgtf-vertical-align-containers .edgtf-position-center {
        position: absolute;
        width: 100%;
    }
}